services:
    _defaults:
        autowire: true
        autoconfigure: true

    _instanceof:
        Packages\Configuration\Setting\SettingInterface:
            tags: [ 'app.settings' ]

    Packages\Configuration\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'

    Packages\Contracts\Environment\EnvironmentServiceInterface:
        class: Packages\Configuration\Service\EnvironmentService