version: 2
updates:
    ## Ingest service dependencies
    -   package-ecosystem: "composer"
        directory: "services/ingest"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"

    -   package-ecosystem: "terraform"
        directory: "services/ingest/infrastructure"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "terraform"
            - "chore"
            - "bump-patch"

    ## Analyse service dependencies
    -   package-ecosystem: "composer"
        directory: "services/analyse"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"

    -   package-ecosystem: "terraform"
        directory: "services/analyse/infrastructure"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "terraform"
            - "chore"
            - "bump-patch"

    ## API service dependencies
    -   package-ecosystem: "composer"
        directory: "services/api"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"

    -   package-ecosystem: "terraform"
        directory: "services/api/infrastructure"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "terraform"
            - "chore"
            - "bump-patch"

    ## Orchestrator service dependencies
    -   package-ecosystem: "composer"
        directory: "services/orchestrator"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"

    -   package-ecosystem: "terraform"
        directory: "services/orchestrator/infrastructure"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "terraform"
            - "chore"
            - "bump-patch"

    ## Global infrastructure dependencies
    -   package-ecosystem: "terraform"
        directory: "infrastructure"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "terraform"
            - "chore"
            - "bump-patch"

    -   package-ecosystem: "github-actions"
        directory: "/"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "github_actions"
            - "chore"
            - "bump-patch"

    ## Publish service dependencies
    -   package-ecosystem: "composer"
        directory: "services/publish"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"

    -   package-ecosystem: "terraform"
        directory: "services/publish/infrastructure"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "terraform"
            - "chore"
            - "bump-patch"

    ## Clients package dependencies
    -   package-ecosystem: "composer"
        directory: "packages/clients"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"

    ## Event package dependencies
    -   package-ecosystem: "composer"
        directory: "packages/event"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"

    ## Telemetry package dependencies
    -   package-ecosystem: "composer"
        directory: "packages/telemetry"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"