version: 2

registries:
    packages-registry:
        type: composer-registry
        url: https://coverage-robot.repo.repman.io
        username: token
        password: ${{ secrets.REPMAN_TOKEN }}

groups:
    production-dependencies:
        dependency-type: "production"
        exclude-patterns:
            - "coverage-robot/*"
            - "symfony/*"

    dev-dependencies:
        dependency-type: "development"
        exclude-patterns:
            - "coverage-robot/*"
            - "symfony/*"

    coverage-robot-dependencies:
        patterns:
            - "coverage-robot/*"

    symfony-dependencies:
        patterns:
            - "symfony/*"

updates:
    -   package-ecosystem: "composer"
        directories:
            - "services/ingest"
            - "services/api"
            - "services/analyse"
            - "services/orchestrator"
            - "services/publish"
            - "packages/clients"
            - "packages/message"
            - "packages/configuration"
            - "packages/event"
            - "packages/telemetry"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"

    -   package-ecosystem: "terraform"
        directories:
            - "services/ingest/infrastructure"
            - "services/analyse/infrastructure"
            - "services/api/infrastructure"
            - "services/orchestrator/infrastructure"
            - "services/publish/infrastructure"
            - "infrastructure"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "terraform"
            - "chore"
            - "bump-patch"

    -   package-ecosystem: "github-actions"
        directory: "/"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "github_actions"
            - "chore"
            - "bump-patch"