version: 2

registries:
    packages-registry:
        type: composer-repository
        url: https://coverage-robot.repo.repman.io
        username: token
        password: ${{ secrets.REPMAN_TOKEN }}

updates:
    -   package-ecosystem: "composer"
        registries: "*"
        directories:
            - "services/ingest"
            - "services/api"
            - "services/analyse"
            - "services/orchestrator"
            - "services/publish"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"
        groups:
            services-production:
                dependency-type: "production"
                exclude-patterns:
                    - "coverage-robot/*"
                    - "symfony/*"

            services-development:
                dependency-type: "development"
                exclude-patterns:
                    - "coverage-robot/*"
                    - "symfony/*"

            services-packages:
                patterns:
                    - "coverage-robot/*"

            services-symfony:
                patterns:
                    - "symfony/*"

    -   package-ecosystem: "composer"
        registries: "*"
        directories:
            - "packages/clients"
            - "packages/message"
            - "packages/configuration"
            - "packages/event"
            - "packages/telemetry"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "php"
            - "chore"
            - "bump-patch"
        groups:
            packages-production:
                dependency-type: "production"
                exclude-patterns:
                    - "coverage-robot/*"
                    - "symfony/*"

            packages-development:
                dependency-type: "development"
                exclude-patterns:
                    - "coverage-robot/*"
                    - "symfony/*"

            packages-packages:
                patterns:
                    - "coverage-robot/*"

            packages-symfony:
                patterns:
                    - "symfony/*"

    -   package-ecosystem: "terraform"
        directories:
            - "services/ingest/infrastructure"
            - "services/analyse/infrastructure"
            - "services/api/infrastructure"
            - "services/orchestrator/infrastructure"
            - "services/publish/infrastructure"
            - "infrastructure"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "terraform"
            - "chore"
            - "bump-patch"
        groups:
            production:
                dependency-type: "production"

            development:
                dependency-type: "development"

    -   package-ecosystem: "github-actions"
        directory: "/"
        schedule:
            interval: "weekly"
        reviewers:
            - "ryanmab"
        labels:
            - "dependencies"
            - "github_actions"
            - "chore"
            - "bump-patch"
        groups:
            dependencies:
                patterns:
                    - "*"