.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
vendor/
.terraform/
phpunit.xml
.phpunit.cache
.phpcs-cache
.idea/
.localstack/
bigquery.json
github.pem