version: "3.9"

services:
  ingest:
    extends:
      file: services/ingest/docker-compose.yml
      service: lambda
    links:
      - localstack

  analyse:
    extends:
      file: services/analyse/docker-compose.yml
      service: lambda
    links:
      - localstack

  api:
    extends:
      file: services/api/docker-compose.yml
      service: lambda
    links:
      - api_db

  api_db:
    extends:
      file: services/api/docker-compose.yml
      service: database

  localstack:
    container_name: "localstack"
    image: localstack/localstack
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - SERVICES=s3,sqs,iam
      - HOSTNAME_EXTERNAL=localstack
    volumes:
      # Mount volumes for Localstack provisioning
      - "./infrastructure:/tmp/infrastructure"
      - "./infrastructure/localstack/provision.sh:/docker-entrypoint-initaws.d/init-aws.sh"

      # Mount the default volumes for cache and sockets
      - "./infrastructure/.localstack/var:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

volumes:
  api_db:
    driver: local