version: "3.9"

services:
  lambda:
    image: bref/php-85-dev:3
    environment:
        BREF_RUNTIME: fpm
    volumes:
      - .:/var/task:ro
      - ./var:/var/task/var
      - ../../packages:/var/task/vendor/coverage-robot
