service: ingest

provider:
    name: aws
    region: eu-west-2
    stage: prod
    environment:
        APP_ENV: prod
    iam:
        role:
            statements:
                -   Effect: Allow
                    Action:
                        - 's3:GetObject'
                    Resource:
                        - arn:aws:s3:::coverage-ingest-${opt:stage, self:provider.stage}/*
                -   Effect: Allow
                    Action:
                        - 's3:*'
                    Resource:
                        - arn:aws:s3:::coverage-output-${opt:stage, self:provider.stage}/*

plugins:
    - ./vendor/bref/bref

functions:
    ingest:
        handler: App\Handler\IngestHandler
        timeout: 28
        runtime: php-82
        architecture: arm64
        events:
            - s3:
                bucket: coverage-ingest-${opt:stage, self:provider.stage}
                event: s3:ObjectCreated:*

package:
    patterns:
        - '!tests/**'
        - '!var/**'
        - 'var/cache/prod/**'
        - 'public/build/entrypoints.json'
        - 'public/build/manifest.json'

resources:
    Resources:
        CoverageData:
            Type: AWS::S3::Bucket
            UpdateReplacePolicy: Delete
            DeletionPolicy: Delete
            Properties:
                BucketName: coverage-output-${opt:stage, self:provider.stage}
                PublicAccessBlockConfiguration:
                    BlockPublicAcls: true
                    BlockPublicPolicy: true
                    IgnorePublicAcls: true
                    RestrictPublicBuckets: true
                VersioningConfiguration:
                    Status: Suspended
                BucketEncryption:
                    ServerSideEncryptionConfiguration:
                        -   ServerSideEncryptionByDefault:
                                SSEAlgorithm: 'AES256'