service: ingest

provider:
    name: aws
    region: eu-west-2
    stage: dev
    environment:
        APP_ENV: prod

plugins:
    - ./vendor/bref/bref

functions:
    ingest:
        handler: public/index.php
        timeout: 28
        runtime: php-82
        architecture: arm64
        events:
            - s3:
                bucket: ryan-coverage-s3
                event: s3:ObjectCreated:*

package:
    patterns:
        - '!tests/**'
        - '!var/**'
        - 'var/cache/prod/**'
        - 'public/build/entrypoints.json'
        - 'public/build/manifest.json'
