services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Handler\EventHandler:
        # The handler must be public so that Bref is able to run it through the Symfony
        # runtime
        public: true

    Psr\Container\ContainerInterface: '@service_container'

    Packages\Event\Service\EventProcessorServiceInterface: '@Packages\Event\Service\EventProcessorService'

    Packages\Event\Service\EventProcessorService:
        arguments:
            $eventProcessors: !tagged_iterator { tag: 'app.orchestrator_event_processor', default_index_method: 'getEvent'}

    Packages\Telemetry\XRayHttpClient: ~

    AsyncAws\EventBridge\EventBridgeClient:
        arguments:
            # Inject the decorated Http Client which will provide the X-Ray tracing
            # header onto every AWS request
            $httpClient: '@Packages\Telemetry\XRayHttpClient'

    AsyncAws\Sqs\SqsClient:
        arguments:
            # Inject the decorated Http Client which will provide the X-Ray tracing
            # header onto every AWS request
            $httpClient: '@Packages\Telemetry\XRayHttpClient'