monolog:
    handlers:
        nested:
            type: stream
            path: "php://stderr"
            formatter: Monolog\Formatter\LineFormatter
            channels: ['!metrics']

        metrics:
            type: stream
            path: "php://stdout"
            formatter: metrics_formatter
            level: info
            channels: [ 'metrics' ]

    channels: [ "handler", "metrics" ]

services:
    Monolog\Formatter\LineFormatter:
        arguments: [ "[%%channel%%] %%level_name%%: %%message%% %%context%% %%extra%%\n" ]

    metrics_formatter:
        class: Monolog\Formatter\LineFormatter
        arguments: [ "%%message%%\n" ]

    Monolog\Processor\PsrLogMessageProcessor:
        tags: { name: monolog.processor, handler: nested }