when@dev: &messenger_dev
    framework:
        messenger:
            transports:
                analysis:
                    dsn: '%env(ANALYSIS_QUEUE_DSN)%'
                    #dsn: 'sqs://localstack:4566?sslmode=disable'
                    serializer: App\Service\Event\AnalysisTransportSerializer
                    options:
                        region: 'eu-west-2'
                        #queue_name: coverage-analysis-queue-dev
                        access_key: 'mock'
                        secret_key: 'mock'
                        endpoint: http://localstack:4566/

            routing:
                App\Model\Upload: analysis

when@test: *messenger_dev

when@prod:
    framework:
        messenger:
            transports:
                analysis:
                dsn: '%env(ANALYSIS_QUEUE_DSN)%'
                serializer: App\Service\Event\AnalysisTransportSerializer

            routing:
                App\Model\Upload: analysis