when@prod:
    sentry:
        dsn: "%env(SENTRY_DSN)%"
        options:
            traces_sample_rate: 1.0
            enable_logs: true

        register_error_listener: false
        register_error_handler: false

    monolog:
        handlers:
            sentry:
                type: service
                id: Sentry\SentryBundle\Monolog\LogsHandler

    services:
        Sentry\SentryBundle\Monolog\LogsHandler:
            arguments:
                - !php/const Monolog\Logger::ERROR
