services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Handler\EventHandler:
        # The handler must be public so that Bref is able to run it through the Symfony
        # runtime
        public: true

    Psr\Container\ContainerInterface: '@service_container'

    SebastianBergmann\Diff\Parser: ~

    Doctrine\SqlFormatter\NullHighlighter: ~

    Doctrine\SqlFormatter\SqlFormatter:
        arguments:
            $highlighter: '@Doctrine\SqlFormatter\NullHighlighter'