services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Handler\EventHandler:
        # The handler must be public so that Bref is able to run it through the Symfony
        # runtime
        public: true

    Psr\Container\ContainerInterface: '@service_container'

    Packages\Contracts\Environment\EnvironmentServiceInterface: '@App\Service\EnvironmentService'

    # Metric publishing
    Symfony\Component\Clock\NativeClock: ~

    Psr\Clock\ClockInterface: '@Symfony\Component\Clock\NativeClock'

    Packages\Telemetry\Service\MetricService: ~

    # Event processing
    Packages\Event\Service\EventProcessorServiceInterface: '@Packages\Event\Service\EventProcessorService'

    Packages\Event\Service\EventProcessorService:
        arguments:
            $eventProcessors: !tagged_iterator { tag: 'app.event_processor', default_index_method: 'getEvent'}

    # Analysing coverage data
    SebastianBergmann\Diff\Parser: ~

    Doctrine\SqlFormatter\NullHighlighter: ~

    Doctrine\SqlFormatter\SqlFormatter:
        arguments:
            $highlighter: '@Doctrine\SqlFormatter\NullHighlighter'

    Packages\Clients\Client\Github\GithubAppClient:
        arguments:
            $appId: '%env(GITHUB_APP_ID)%'
            $privateKeyFile: './config/github.pem'

    Packages\Clients\Client\Github\GithubAppInstallationClient: ~

    Packages\Clients\Generator\JwtGenerator: ~