monolog:
  handlers:
    nested:
      type: stream
      path: "php://stderr"
      formatter: Packages\Telemetry\Service\SymfonySerializerLineFormatter
      channels: ['!metrics']

    metrics:
      type: stream
      path: "php://stdout"
      formatter: metrics_formatter
      level: info
      channels: [ 'metrics' ]

  channels: [ "upload", "metrics" ]

services:
    Packages\Telemetry\Service\SymfonySerializerLineFormatter:
        arguments: [ "[%%channel%%] %%level_name%%: %%message%% %%context%% %%extra%%\n" ]

    metrics_formatter:
        class: Monolog\Formatter\LineFormatter
        arguments: [ "%%message%%\n" ]

    Monolog\Processor\PsrLogMessageProcessor:
        tags: { name: monolog.processor, handler: nested }