version: "3.9"

services:
  lambda:
    build:
      context: .
      dockerfile_inline: |
        FROM bref/php-82-fpm-dev:2
        COPY --from=bref/extra-gd-php-82:1 /opt /opt

    ports: [ '8000:8000' ]
    volumes:
      - .:/var/task:ro
      - ./var:/var/task/var
      - ./config/migrations:/var/task/config/migrations
      - ../../packages:/var/task/vendor/ryanmab

    environment:
      HANDLER: public/index.php

  event_listener:
    image: bref/php-82-fpm-dev:2
    volumes:
      - .:/var/task:ro
      - ./var:/var/task/var
      - ../../packages:/var/task/vendor/ryanmab
    environment:
      HANDLER: App\Handler\EventHandler

  database:
    image: mysql:8.0.33
    environment:
      MYSQL_DATABASE: coverage-api-dev
      MYSQL_ROOT_PASSWORD: root
