version: "3.9"

services:
  lambda:
    image: bref/php-85-dev:3
    ports: [ '8000:8000' ]
    volumes:
      - .:/var/task:ro
      - ./var:/var/task/var
      - ./config/migrations:/var/task/config/migrations
      - ../../packages:/var/task/vendor/coverage-robot

    environment:
      BREF_RUNTIME: fpm
      HANDLER: public/index.php

  event_listener:
    image: bref/php-85-dev:3
    volumes:
      - .:/var/task:ro
      - ./var:/var/task/var
      - ../../packages:/var/task/vendor/coverage-robot
    environment:
      HANDLER: App\Handler\EventHandler
