services:
    _defaults:
        autowire: true
        autoconfigure: true

    Packages\Clients\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'

    Packages\Clients\Client\Github\GithubAppInstallationClientInterface:
        class: Packages\Clients\Client\Github\GithubAppInstallationClient