name: Clients Package

on:
    merge_group:
        types:
            - checks_requested
        branches:
            - main

        # Path filtering isn't supported on merge queues, so we're forced to run all services

    push:
        branches:
            - main
        paths:
            - 'packages/clients/**'
            - '.github/workflows/clients.yml'

    pull_request:
        branches:
            - main
        paths:
            - 'packages/clients/**'
            - '.github/workflows/clients.yml'

    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

defaults:
    run:
        shell: bash
        working-directory: './packages/clients/'

env:
    php-version: "8.3"
    working-directory: './packages/clients/'

jobs:
    client-tests:
        name: "Client Tests"
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ env.php-version }}

            -   name: Validate Composer configuration
                run: composer validate

            -   name: Install Composer dependencies
                run: composer install --prefer-dist --no-progress

            -   name: Run Rector
                run: composer lint:rector

            -   name: Run PHPUnit
                run: |
                    composer test:unit -- --coverage-clover='./coverage.xml'
                shell: bash

            -   uses: coverage-robot/action@v1.0.6
                if: always()
                with:
                    token: ${{ secrets.COVERAGE_TOKEN }}
                    files: |
                        ${{ env.working-directory }}/coverage.xml
                    tag: clients-package
                continue-on-error: true