name: Infrastructure

on:
    push:
        branches:
            - master
        paths:
            - 'infrastructure/**'
            - '.github/workflows/infrastructure.yml'

    pull_request:
        branches:
            - master
        paths:
            - 'infrastructure/**'
            - '.github/workflows/infrastructure.yml'

    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

defaults:
    run:
        working-directory: './infrastructure'

env:
    working-directory: './infrastructure'
    workspace: 'dev'

jobs:
    lint:
        name: "Lint"
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            -   uses: actions/checkout@v3

            -   name: Run Format
                id: format
                continue-on-error: true
                run: terraform fmt -check

            -   name: Run Checkov
                uses: bridgecrewio/checkov-action@v12
                with:
                    quiet: true
                    soft_fail: true

    plan:
        name: Plan
        runs-on: ubuntu-latest
        needs: lint
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        permissions:
            id-token: write
            contents: read
            pull-requests: write
        steps:
            -   uses: actions/checkout@v3

            -   uses: aws-actions/configure-aws-credentials@v2
                with:
                    aws-region: eu-west-2
                    aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                    aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

            -   name: Run Plan
                uses: dflook/terraform-plan@v1
                with:
                    workspace: ${{ env.workspace }}
                    path: ${{ env.working-directory }}