name: Message Package

on:
    merge_group:
        types:
            - checks_requested
        branches:
            - main

        # Path filtering isn't supported on merge queues, so we're forced to run all services

    push:
        branches:
            - main
        paths:
            - '.github/workflows/message.yml'
            - 'packages/message/**'

    pull_request:
        branches:
            - main
        paths:
            - '.github/workflows/message.yml'
            - 'packages/message/**'

    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

defaults:
    run:
        shell: bash
        working-directory: './packages/message/'

env:
    working-directory: './packages/message/'

jobs:
    message-tests:
        name: "Message Tests"
        runs-on: ubuntu-latest

        strategy:
            matrix:
                php-version: ["8.3", "8.4"]

        steps:
            -   uses: actions/checkout@v4

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}

            -   name: Validate Composer configuration
                run: composer validate

            -   name: Install Composer dependencies
                run: composer install --prefer-dist --optimize-autoloader --classmap-authoritative
                env:
                    COMPOSER_AUTH: '{"http-basic": {"coverage-robot.repo.repman.io": {"username": "token", "password": "${{ secrets.REPMAN_TOKEN }}"}}}'

            -   name: Run Rector
                run: composer lint:rector

            -   name: Run PHPUnit
                run: |
                    composer test:unit -- --coverage-clover='./coverage.xml'
                shell: bash

            -   uses: coverage-robot/action@v1.0.6
                if: always()
                with:
                    token: ${{ secrets.COVERAGE_TOKEN }}
                    files: |
                        ${{ env.working-directory }}/coverage.xml
                    tag: message-package
                continue-on-error: true