name: 'Split Packages'

on:
    push:
        branches: [ main ]
        tags: [ '*' ]

env:
    php-version: "8.3"
    GITHUB_TOKEN: ${{ secrets.SPLIT_PACKAGES_GITHUB_TOKEN }}

jobs:
    get-packages:
        name: Get Packages
        runs-on: ubuntu-latest
        steps:
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ env.php-version }}
                  coverage: none

            - uses: actions/checkout@v4

            - name: Get Packages
              id: get_json
              run: echo "::set-output name=json::$(php .github/get-packages.php)"

            - name: Output Packages
              run: echo "${{ steps.get_json.outputs.json }}"
        outputs:
            matrix: ${{ steps.get_json.outputs.json }}

    split:
        name: Split ${{ matrix.package.name }} package
        needs: get-packages
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                package: ${{ fromJson(needs.get-packages.outputs.matrix) }}

        steps:
            - uses: actions/checkout@v4

            # When run on a tag push, the GITHUB_REF will be in the format refs/head/{commit_sha}
            - if: "!startsWith(github.ref, 'refs/tags/')"
              uses: "symplify/monorepo-split-github-action@v2.3.0"
              with:
                  # Split the package directory into the appropriate repository
                  package_directory: '${{ matrix.package.directory }}'
                  repository_organization: '${{ matrix.package.organization }}'
                  repository_name: '${{ matrix.package.repository }}'

                  # The user signed under the split commit
                  user_name: "ryanmab"
                  user_email: "ryan@ryanmaber.com"

            # When run on a tag push, the GITHUB_REF will be in the format refs/tags/{tag}
            - if: "startsWith(github.ref, 'refs/tags/')"
              uses: "symplify/monorepo-split-github-action@v2.3.0"
              with:
                  tag: ${GITHUB_REF#refs/tags/}

                  # Split the package directory into the appropriate repository
                  package_directory: '${{ matrix.package.directory }}'
                  repository_organization: '${{ matrix.package.organization }}'
                  repository_name: '${{ matrix.package.repository }}'

                  # The user signed under the split commit
                  user_name: "ryanmab"
                  user_email: "ryan@ryanmaber.com"
            # Tags must be associated with a release for the private packages to pick up the available versions.
            -   if: "startsWith(github.ref, 'refs/tags/')"
                run: gh release create ${GITHUB_REF#refs/tags/} --repo "${{ matrix.package.organization }}/${{ matrix.package.repository }}" --notes "" --target "main" --verify-tag --latest